#backGroundImg>img{
    width: 100vw;
    height: 100vh;
}

#heading{
    max-width: fit-content;
    max-height: fit-content;
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 0;
    left: 320px;
    font-family: Calibri;
    font-weight: bold;
    color: white;
    z-index: 1;
}

#allTxtFields>.txtField{
    max-width: fit-content;
    max-height: fit-content;
    position: relative;
    top: -258px;
    bottom: 0;
    right: 0px;
    left: -90px;
    margin: auto;
    gap: 50px;
}

.txtField>input{
    width: 180px;
    height: 25px;
    margin: 0 10px 20px 0;
}

.txtField2{
    max-width: fit-content;
    max-height: fit-content;
    position: absolute;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 210px;
    margin: auto;
    gap: 50px;
}

.txtField2>input{
    width: 180px;
    height: 25px;
    margin: 0 10px 20px 0;
}

#allTxtFields>div>input{
    font-size: 8px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#allTxtFields>div>select{
    width: 180px;
    font-size: 8px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#allTxtFields{
    height: 0;
}

.txtField{
    position: absolute;
    top: 20px;
}

#allBtns>button{
    width: 70px;
    height: 30px;
    font-size: 12px;
    font-family: Calibri;
    border-radius: 20px;
    border-color: #556e47;
    background-color: #556e47;
    color: white;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#allBtns{
    width: fit-content;
    height: fit-content;
    display: flex;
    position: absolute;
    top: 120px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    gap: 10px;
}

#allBtns>button:hover{
    background-color: #4a5e3b;
    border-color: #4a5e3b;
}

#blurBckgound {
    width: 400px;
    height: 220px;
    background-color: #607951;
    opacity: 80%;
    border-radius: 25px;
    position: absolute;
    top: -10px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#allBtns>button:active{
    background-color: #556e47;
}

#signUp{
    max-width: fit-content;
    max-height: fit-content;
    font-size: 8px;
    position: absolute;
    top: 180px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: white;
}